Flask
flask-buzz
Flask-Cors
flask-marshmallow
Flask-Migrate
flask-praetorian
Flask-RESTful
Flask-SQLAlchemy
Flask-WTF
gunicorn
inflection
marshmallow
SQLAlchemy
Flask-Mail
psycopg2

# Socket.IO for real-time chat

Flask-SocketIO==5.3.6
python-socketio==5.8.0
python-engineio==4.4.1
eventlet==0.33.3
marshmallow-sqlalchemy==0.29.0
